.govde {  
  display: flex;
}

.yan {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  background-color: rgb(76,150,215);
  height: 600px;
}

.yan a:link,.yan a:visited {
  background-color: rgb(0,192,0);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  margin: 7px 0px 0px 0px;
}

.yan a:hover, a:active {
  background-color: red;
}
.ana {   
  flex: 80%;
  padding: 10px 20px 20px 20px;
  background-color: rgb(141,203,255);
  margin-left: 20px;
}

input[type=text],input[type=email],input[type=date]{
    width: 25%;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
textarea{
    width: 25%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
}

select{
    width: 25%;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: rgb(0,192,0);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
}
 
input[type=submit]:hover {
    background-color: #45a049;
}




